<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Regno:</strong>
  <%= @student.regno %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @student.dept %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @student.batch %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user %>
</p>

<p>
  <strong>Hoa:</strong>
  <%= @student.hoa %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @student.sa %>
</p>

<p>
  <strong>Hoal:</strong>
  <%= @student.hoal %>
</p>

<p>
  <strong>Sal:</strong>
  <%= @student.sal %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Fathersname:</strong>
  <%= @student.fathersname %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @student.guardian %>
</p>

<p>
  <strong>Community:</strong>
  <%= @student.community %>
</p>

<p>
  <strong>Religionn:</strong>
  <%= @student.religionn %>
</p>

<p>
  <strong>Tenth:</strong>
  <%= @student.tenth %>
</p>

<p>
  <strong>Twelth:</strong>
  <%= @student.twelth %>
</p>

<p>
  <strong>Fathersoccupiton:</strong>
  <%= @student.fathersoccupiton %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @student.identification %>
</p>

<p>
  <strong>Blood:</strong>
  <%= @student.blood %>
</p>

<p>
  <strong>Dote:</strong>
  <%= @student.dote %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<p>
  <strong>Pmobile:</strong>
  <%= @student.pmobile %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @student.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @student.addr2 %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @student.mark %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @student.ten %>
</p>

<p>
  <strong>Two:</strong>
  <%= @student.two %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
