<%= form_for(@unitmark) do |f| %>
  <% if @unitmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unitmark.errors.count, "error") %> prohibited this unitmark from being saved:</h2>

      <ul>
      <% @unitmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
<%= f.collection_select(:subject_id,Subject.all,:id,:name)%>
  </div>

  <div class="field">
    <%= f.label :unit_id %><br>
<%= f.collection_select(:unit_id,Unit.all,:id,:name)%>
  </div>
  <div class="field">
    <%= f.label :mark %><br>
    <%= f.text_field :mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
